@import "../../styles/variables";

.modal {
  @include modal;
}
.infoIcon {
  font-size: $md;
  color: $light;
  margin-left: 3px;
  cursor: pointer;
  &:hover {
    @include pulse;
  }
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 100000;
}

.card {
  background-color: #f4ecec;
  border-radius: 14px;
  padding: 0 10px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  height: 65%;
  width: 100%;
  transform: translateX(0) translateY(100%);
  transition: transform 500ms;
  &.visible {
    transform: translateX(0) translateY(0);
  }

  @media (min-width: 900px) {
    left: 50%;
    width: 435px;
    height: 65%;
    transform: translateX(-50%) translateY(0);
    &.visible {
      transform: translateX(-50%) translateY(-50%);
    }
  }

  @media (min-width: 900px) {
    top: 40%;
    max-height: 55%;
  }
}

.iconContainer {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  &:focus {
    @include focus();

    &::after {
      padding: -32px;
      width: 100%;
      height: 30px;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      left: 50%;
      border-radius: 4px;
    }
  }
  &:hover {
    cursor: pointer;
    transform: scale(1.12);
    transition: all 400ms;
    p {
      color: $navy !important;
    }
  }
}
.closeIconWrapper {
  display: flex;
  justify-content: flex-end;
}
.closeIcon {
  margin-top: 8px;
  color: rgb(0, 0, 0);
  &:hover {
    cursor: pointer;
    @include pulse;
  }
  &:focus {
    @include focus();
    &::after {
      margin: -4px !important;
      border-radius: 31px !important;
    }
  }
}
.content {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  p {
    padding-top: 20px;
  }
}
