@import "../../styles/variables";

.container {
  background-color: rgb(245, 249, 245);
  padding: 0 $md;
  @media (min-width: 600px) {
    padding: 0 $xl;
  }
  input[type="checkbox"] {
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 5px;
    border: 1px solid rgb(0, 0, 0);
  }
  input[type="checkbox"]:checked {
    background: rgb(200, 203, 208);
  }
}

.main {
  min-height: 70vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  @media (min-width: 600px) {
    box-shadow: $boxShadow;
    border-radius: 5px;
    flex-direction: row;
    justify-content: space-between;
  }
}
.canceled {
  background-color: rgb(196, 54, 52) !important;
  color: white;
}
.out {
  background-color: rgb(70, 14, 13) !important;
  color: white;
}
.sent {
  background-color: rgb(51, 189, 129) !important;
  color: white;
}
.total {
  margin: $xs 0;
  padding: $xs $md;
  border: 1px solid turquoise;
  width: 100%;
  border-radius: 4px;
  @media (min-width: 600px) {
    width: 28%;
  }
}
.sideBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  margin-bottom: $md;
  background-color: #40e0d0;
  overflow: scroll;
  @media (min-width: 600px) {
    justify-content: flex-start;
    margin-bottom: 0;
    flex-direction: column;
    border-top-left-radius: 5px;
    width: 22%;
    height: 66vh;
  }
}
.sideBarItem {
  min-width: 270px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(124, 195, 216);
  padding: $sm;
  &:hover {
    background-color: #2a7168;
    color: white;
    transition: all 400ms;
    cursor: pointer;
  }
  &.active {
    background-color: #2a7168;
    color: white;
  }
  @media (min-width: 600px) {
    border: none;
    border-bottom: 1px solid #44968b;
    padding: $sm;
  }
}
.search {
  display: flex;
  align-items: center;
  gap: $lg;
  height: 80px;
  padding: $sm;
  input {
    padding: 0 $md;
    height: 60px;
    width: 190px;
    @include input;
    border: 1px solid $blue;
  }
}
.content {
  @include fade-in-fast;
  border: 1px solid #dce6e5;
  border-right: none;
  width: 100%;
  overflow: scroll;
  @media (min-width: 600px) {
    width: 78%;
    border-top-right-radius: 5px;
  }
}
.table {
  font-family: $Paragraph;
  border-collapse: collapse;
  width: 100%;
  thead {
    display: flex;
  }
  td,
  th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    min-width: 150px;
  }
  tr {
    &:hover {
      background-color: turquoise;
      transition: all 400ms;
    }
  }
  tr:nth-child(even) {
    background-color: #dddddd;
    &:hover {
      background-color: turquoise;
      transition: all 400ms;
    }
  }
}
.confirmed {
  background-color: rgb(64, 132, 98) !important;
}
.reminder {
  background-color: rgb(221, 159, 94) !important;
}
.button {
  @include button;
  width: 100% !important;
}
.statusButton {
  @include button;
  width: 190px !important;
}
.downloadButton {
  @include button;
  margin-top: $md;
  width: 180px !important;
  height: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  display: flex;
  flex: 1;
  padding: 20px 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  padding: 2px 10px;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: $lg 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}
.tickets {
  width: 100%;
  border: 1px solid turquoise;
  @media (min-width: 600px) {
    margin: 50px;
  }
}
.balanceComponent {
  overflow-x: scroll;
}
.ticketRow {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: $sm 0;
  border-bottom: 1px solid #dce6e5;
  width: 100%;
  &:first-child {
    background-color: rgb(101, 236, 223);
  }
  p {
    min-width: 100px;
  }
  flex-direction: column;
  @media (min-width: 600px) {
    flex-direction: row;
    gap: $md;
    p {
      min-width: 350px;
    }
    h4 {
      min-width: 150px;
    }
  }
}
.ticketAmount {
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $sm;
  gap: $sm;
  p {
    min-width: 100px;
  }
}
.ticketItem {
  @media (min-width: 600px) {
    text-align: center;
    width: 600px;
  }
}
.select {
  padding: 5px 15px;
  margin-right: $sm;
  font-size: 14px;
  line-height: 1.3;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid $blue;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 5px;
  background-color: transparent;
  width: 100%;
  @media (min-width: 700px) {
    width: 200px;
  }
  &.countrySelect {
    border: 1px solid $blue;

    height: 50px;
    padding: 12px;
    margin-top: $xs;
    @media (min-width: 600px) {
      height: 60px;
      width: 420px;
    }
  }
}
